<div class="wrapper mt-5">
  <div class="container2">
      <div class="row">
          <div class="col-md-8">
              <div class="search_wrap search_wrap_3">
                  <div class="search_box">
                      <input type="text" class="input" placeholder="search...">
                      <div class="btn btn_common">
                          <i class="pi pi-search"></i>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="search_wrap search_wrap_3">
                  <div class="search_box">
                    <button pButton pRipple label="Create Activity" class="size1 p-button-rounded border-none font-light line-height-2 color-btn-1 text-white"></button>
                  </div>
              </div>
          </div>
      </div>
</div>
</div>

<!-- Fin de Search -->
<div class="container mt-5">
  <div class="card">
      <div class="row">
          <div class="col-md-4">
            <div class="image-container">
              <img src="assets/demo/images/galleria/galleria1.jpg" class="img-fluid small-image">
            </div>
          </div>
          <div class="col-md-8">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <h2 class="card-title">Trip to Montaign</h2>
                  </div>
                  <div class="col-md-8 d-flex justify-content-between">
                    <button pButton pRipple label="Apply" class="  p-button-rounded border-none font-light line-height-2 color-btn-1 text-white ml-auto"></button>
                  </div>
                </div>
                  <h4 class="card-title mt-3"><i class="pi pi-calendar-times" style="font-size: 1.5rem"></i>  02/11/2023</h4>
                  <h4 class="card-title mt-3"><i class="pi pi-map-marker" style="font-size: 1.5rem"></i>  Toubkal</h4>
                  <h4 class="card-title mt-3"><i class="pi pi-users" style="font-size: 1.5rem"></i>  2/10</h4>
                  <p class="card-text ">
                      Experience the awe-inspiring beauty and cultural richness of Morocco on our unforgettable journey to Toubkal. This expedition takes you deep into the heart of the Atlas Mountains.
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container mt-5">
  <div class="card">
      <div class="row">
          <div class="col-md-4">
            <div class="image-container">
              <img src="assets/demo/images/galleria/fotb.jpg" class="img-fluid small-image">
            </div>
          </div>
          <div class="col-md-8">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <h2 class="card-title">Football match</h2>
                  </div>
                  <div class="col-md-8 d-flex justify-content-between">
                    <button pButton pRipple label="Apply" class="  p-button-rounded border-none font-light line-height-2 color-btn-1 text-white ml-auto"></button>
                  </div>
                </div>
                  <h4 class="card-title mt-3"><i class="pi pi-calendar-times" style="font-size: 1.5rem"></i>  06/10/2023</h4>
                  <h4 class="card-title mt-3"><i class="pi pi-map-marker" style="font-size: 1.5rem"></i>  Planet foot</h4>
                  <h4 class="card-title mt-3"><i class="pi pi-users" style="font-size: 1.5rem"></i>  1/7</h4>
                  <p class="card-text ">
                      Experience the awe-inspiring beauty and cultural richness of Morocco on our unforgettable journey to Toubkal. This expedition takes you deep into the heart of the Atlas Mountains.
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="container mt-5">
  <div class="card">
      <div class="row">
          <div class="col-md-4">
            <div class="image-container">
              <img src="assets\demo\images\galleria\BascketBall.jpg" class="img-fluid small-image">
            </div>
          </div>
          <div class="col-md-8">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <h2 class="card-title">BascketBall match</h2>
                  </div>
                  <div class="col-md-8 d-flex justify-content-between">
                    <button pButton pRipple label="Apply" class="  p-button-rounded border-none font-light line-height-2 color-btn-1 text-white ml-auto"></button>
                  </div>
                </div>
                  <h4 class="card-title mt-3"><i class="pi pi-calendar-times" style="font-size: 1.5rem"></i>  09/12/2023</h4>
                  <h4 class="card-title mt-3"><i class="pi pi-map-marker" style="font-size: 1.5rem"></i>  Bascket</h4>
                  <h4 class="card-title mt-3"><i class="pi pi-users" style="font-size: 1.5rem"></i>  0/5</h4>
                  <p class="card-text ">
                      Experience the awe-inspiring beauty and cultural richness of Morocco on our unforgettable journey to Toubkal. This expedition takes you deep into the heart of the Atlas Mountains.
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>

